:root {
    --clr-primary: #F70058;
    --clr-dark: #0C0E36;
    --clr-light: #FFF;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr;
}


header {
    background-color: var(--clr-light);
    padding: 1em;
    text-align: center;
    
}

.nav__list {
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    justify-content: space-evenly;
}

.nav__link {
    color: inherit;
}






