:root {
    --clr-primary: #F70058;
    --clr-dark: #0C0E36;
    --clr-light: #FFF;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr;
    --m-botton: 0.5rem;
}


header {
    background-color: var(--clr-light);
    text-align: center; 
}

.logo {
        /* margin-bottom: var(--m-botton); */
        margin-top: 1rem;

}
.nav {
    margin-bottom: var(--m-botton);
}
.nav__list {
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    justify-content: space-evenly;
    margin-bottom: var(--m-botton);

}

.nav__link {
    color: inherit;
}

.nav__link:hover {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    padding: 5px;
}

.wheater {
    display: grid;
    grid-template-columns: min-content 1fr;
    /* position: relative; */
}

.wheater__icon {
    grid-row: span 2;
    background-color: var(--clr-primary);
    padding: 0.7em;
    display: flex;
}

.wheater__info {
    background-color: var(--clr-dark);
    padding: 0.7em 1em;
    width: 100%;
    font-weight: var(--fw-bold);
    font-size: .75rem;
    letter-spacing: 1px;
}

.wheater__info span {
    color: var(--clr-light);
    font-size: 0.90rem;
    margin-left: 40%;
    
}

.wheater__info-des  {
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    /* position: relative; */
    }


.wheater__info-des:first-of-type::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);;
    bottom: -2px;
    opacity: .6; 
}

.main--ski {
    background-image: url("/assets/images/ski.png");
    background-color: lightgray;
    background-size: cover;
    
}

.main {    
    padding: 3em 1em;
}



.main__title {
    line-height: 2.9rem;
    margin-bottom: var(--m-botton);
}

.main__intro {
    margin-bottom: calc(var(--m-botton)*2);
}

.btn {
    padding: .25em 1em;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--fw-bold);
    margin-bottom: .75em;
}

.btn--primary {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    margin-right: 30vw;
}

.btn--primary:hover {
    background-color: var(--clr-dark);
}


.btn--outline {
    outline: 3px solid var(--clr-primary);
    outline-offset: -3px;
    color: var(--clr-primary);
}

.btn--outline:hover {
    background-color: var(--clr-dark);
    outline-color: var(--clr-dark);
    color: var(--clr-light);
}
