:root {
    --clr-primary: #F70058;
    --clr-dark: #0C0E36;
    --clr-light: #FFF;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a { text-decoration: none; }

li { list-style: none; }

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-dark);
    line-height: 1.6;
}

h1, h2, h3 { line-height: 1; }